body {
  /*app color variables*/
  --light-blue: #A4DEF9;
  --smurf-blue: #63B4D1;
  --highlight: #a9bcd0;
  --main-dark: #2b3d41;
  --secondary-dark: #3e8989;
  
  background-color:var(--light-blue);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
