header {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  background-color: #009FC8;
}

.fetch-button {
  background-color: white;
  border: 1px solid white; 
  border-radius: 5px;
  height: 3rem;
}
.fetch-button:hover{
  cursor: pointer;
}

main {
  display: flex;
}